.newinvoice-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 1000;
}

.newinvoice-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;

}

.newinvoice-close-icon-popup {
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.newinvoice-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

.newinvoice-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.newinvoice-form input[type="text"],
.newinvoice-form input[type="number"] {
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200%;
    font-size: 16px;
}

.newinvoice-form input[type="checkbox"] {
    margin-left: 10px;
}

.newinvoice-form button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.newinvoice-form button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.newinvoice-form .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.newinvoice-error {
    color: #ff0000;
    /* red */
    font-weight: bold;
    margin-bottom: 10px;
}

.newinvoice-sort-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.newinvoice-sort-controls label {
    margin-right: 1rem;
    font-weight: bold;
}

.newinvoice-sort-controls select {
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: #fff;
    color: #333;
}

.newinvoice-sort-controls select:focus {
    outline: none;
    border-color: #0077ff;
    box-shadow: 0 0 0 2px #0077ff33;
}